<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/auth/registration}" th:method="post" th:object="${person}">
    <label for="username">Введите имя пользователя: </label>
    <input id="username" name="username" type="text"/>
    <div style="color:red" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Username Error</div>
    <br/>
    <label for="yearOfBirth">Введите год рождения: </label>
    <input id="yearOfBirth" name="yearOfBirth" type="text"/>
    <div style="color:red" th:errors="*{yearOfBirth}" th:if="${#fields.hasErrors('yearOfBirth')}">yearOfBirth Error
    </div>
    <br/>
    <label for="password">Введите пароль: </label>
    <input id="password" name="password" type="password"/>
    <div style="color:red" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">yearOfBirth Error</div>
    <br/>
    <input type="submit" value="Sign up">
</form>
</body>
</html>